body {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .ant-layout {
    background: white;
  }
  
  .site-layout-content {
      min-height: 280px;
      padding: 24px;
      /* display: flex; */
      align-items: center;
      justify-content: center;
      background: none;
  }
  
    #components-layout-demo-top .logo {
      float: left;
      width: 120px;
      height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
    }
    .ant-row-rtl #components-layout-demo-top .logo {
      float: right;
      margin: 16px 0 16px 24px;
    }
  
    .ant-tabs {
      position: relative;
      display: flex;
      justify-content: center;
      /* flex: auto; */
      align-self: stretch;
      overflow: hidden;
      white-space: nowrap;
      transform: translate(0);
      padding-top: 16px;
      text-align: center;
  }
  
  .ant-nav {
    position: relative;
    display: flex;
    transition: opacity 0.3s;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
    gap: 16px;
    text-align: center;
  }
  
  .ant-search :hover :active {
    border-bottom: 1px solid;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
  }
  
  .ant-rate {
    /* border-bottom: 1px solid; */
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
  }
  
  .col {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  .ant-tabs .ant-tabs-nav-wrap{
    justify-content: center;
}

.ant-card {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0,0,0,.25);
    height: 281px;
    width: 45%;
    min-width: 500px;
    max-width: 700px;
    overflow: hidden;
    border-radius: 4px;
}

.ant-item {
    display: flex;
    flex-wrap: nowrap;
}

.ant-image img {
    height: 281px;
    width: 183px;
}

.ant-image {
    flex-shrink: 0;
    margin-right: 20px;
    position: relative;
}

.ant-info {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 28px;
    height: auto;
    margin-top: 0;
    vertical-align: middle;
}

.ant-grade {
    border-radius: 50%;
    height: 30px;
    font-size: 12px ;
    width: 30px;
    text-align: center;
    margin: auto;
    
}
.ant-info h3{
    margin: 0;
    padding-top: 1rem;
    width: 250px;

}

.ant-title {
    display: flex;
    color: black;
    font-family: 'Inter UI';
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 7px;
}

.ant-date {
    display: flex;
    font-family: 'Inter UI';
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 7px;
    color: #827E7E;
}

.ant-genres {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 10px;
}

.ant-card-body {
    display: flex;
    flex-direction: row;
}

 .ant-header { 
    margin-left: 20px; 
} 







.ant-overview {
    padding-top: 10px;
    font-family: 'Inter UI';
    font-size: 12px;
    /* line-height: 22px; */
    color: black;
    overflow: hidden;
    line-height: 22px;
    /* height: 9em; */
    /* column-width: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; */
    width: 280px;
    text-overflow: ellipsis;
    /* text-overflow: ellipsis; */
    
} 

.movielist {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding-top: 32px;

}

.search {
    padding-top: 32px;
    padding-bottom: 32px;
}


.ant-input {
    height: 40px;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    text-align: left;
    padding-left: 10px;
}
.ant-input:active:hover{
    border: 1px solid #D9D9D9;
}



@keyframes load-eclipse {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .load-eclipse div {
    position: absolute;
    animation: load-eclipse 1s linear infinite;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 0 0 #1890ff;
    transform-origin: 50px 51.5px;
  }
  .loading-spinner {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }
  
  .load-eclipse {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .load-eclipse div { box-sizing: content-box; }
  /* generated by https://loading.io/ */


  .pagination{
    display: flex;
    justify-content: center;
  }
  .pageNum{
    text-align: center;
    margin: 3px;
    list-style-type: none;
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 20%;
  }

  .active {
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
  }
.active a{
  color: white;
}
  .pageNum:hover{
    background-color: #b6b6b6;
  }


  @media  (min-width: 320px) and (max-width: 720px) {
    .ant-tabs  .ant-tabs-tab{
    font-size: 18px;
  }
  .search{
    padding-top: 10px;
    margin-left: -25px;
    width: 120%;
    padding-left: 0;
  }
  *{
    margin: 0;
  }
  .ant-image img{
    height: 120px;
    width: 80px;
    margin-left: 10px;
    margin-top:10px;
  }
  .ant-card{
    /* display: grid;
    grid-template-columns:80px 200px;
    grid-template-rows:120px 100px 50px; */
    min-width: 368px;
    max-width: 945%;
  }
  
  .ant-info h3{
    font-size: 20px;
    width: 75%;
    padding-top: 8px;
    overflow: hidden;
  }
  .ant-tag{
    font-size: 10px;
    line-height: 15px;
  }
  .ant-card__all{
    width: 70%;
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows:62px 65px 110px;
  

  }
  .ant-genres{
    overflow: hidden;

  }

  .ant-grade{
    margin-top: 5px;
  }
  .ant-card .ant-overview{
   position:relative;
   left:-95px;
   min-width: 330px;
   max-width: 400px;
  }

  .ant-rate{
    position: relative;
    left: 30px;
    min-width: 255px;
   max-width: 255px;
   font-size: 13px;
   letter-spacing: 5px;
  }
  .movielist{

    position: relative;
    left: -33px;
    width: 350px;
  }

  .ant-item{
    width: 100%;
  }


  }